<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Le pupitre digital {{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='style.css' />
        <script type='text/javascript' src='controls.js'></script>
        <script type='text/javascript' src='event.js'></script>
        <script type='text/javascript' src='ajax.js'></script>
        <script type='text/javascript' src='http.js'></script>


        <script type='text/javascript' src='easybackend.js'></script>

    </head>
    <body>
        <img src='test.jpg' alt='non' title='non' style='width:100px;'/>
        <h1>Le pupitre digital</h1>
        <ul>
          <li><a href='http://localhost:8080/lepupitredigital/index/index.html'>Accueil</a> </li>
          <li><a href='http://localhost:8080/lepupitredigital/index/contact.html'>Contact</a> </li>
          <li><a href='http://localhost:8080/lepupitredigital/blog/index.html'>blog</a></li>
        </ul>

</ul>

        <div>{{content}}</div>
    </body>

    <!-- script -->
    <script type='text/javascript' src='script.js'></script>
</html>
